<!DOCTYPE html>
<html xmlns:th="https://thymeLeaf.org">
<header>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/Style_Admin.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
       crossorigin="anonymous" referrerpolicy="no-referrer" />
   
<title>Tela Administrador</title>
</header>

<body>
	<div class="quadrado1"></div>
    <div class="quadrado2"></div>
    <div class="principal">
        <div class="quadrado">
            <img class="img" src="img/pngwing 4.png">
        </div>
        <!-- FORM -->
        <div class="base_form">
            <div class="form">
                <!-- TITLE -->
                <div class="title_form">
                    <h1 class="effect">Login</h1>
                    <img src="img/Admin.png" class="admin">

                </div>
                <!-- Google login -->
                <a href="#" class="google_login">
                    <img class="img_google" src="img/google.png">
                    <p class="title_gl">Login with google</p>
                </a>
                <div class="formAdmin">
                    <form id="login" action="salvarAdministrador" method="post">
                        <input type="hidden" name="id"  th:value="${admin?.id}">
                        
                        <div class="User">
                            <input type="text" name="nome" placeholder="User" th:value="${admin?.nome}" required><br>
                            <i class="fa-solid fa-user-large"></i>
                        </div>

                        <div class="User">
                            <input type="email" name="email" placeholder="Email" th:value="${admin?.email}" required><br>
                            <i class="fa-solid fa-at"></i>
                        </div>

                        <div class="User">
                            <input type="password" name="senha"  placeholder="Password" required><br>
                            <i class="fa-solid fa-lock"></i>
                        </div>


                        <div class="checkBox">
                            <input type="checkbox" id="check" required>
                            <label for="check">I agree to the terms & conditions</label>
                        </div>

                        <button type="submit" class="btn">login</button>
                    </form>
                </div>


            </div>
        </div>
    </div>	
</body>
</html>