<!DOCTYPE html>
<html xmlns:th="https://thymeLeaf.org">
<header>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/Style_Admin.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
       crossorigin="anonymous" referrerpolicy="no-referrer" />
   
<title>Tela Administrador</title>
</header>

<body>
	
<body>

	<div th:if="${session.usuarioLogado != null}">
		   <header class="l-header" id="header">
        <nav class="nav bd-grid">
            <div class="nav__toggle" id="nav-toggle">
                <a href="#"><img src="img/menu.png"></a>
            </div>

            <a href="#" class="nav__logo"><img src="../../static/img/logo.png"></a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#" class="nav__link active1"><img src="../img/home.png"></a></li>
                    <li class="nav__item"><a href="#" class="nav__link"><img src="../img/user.png"></a></li>
                    <li class="nav__item"><a href="#" class="nav__link"><img src="../img/settings.png"></a></li>
                    <li class="nav__item"><a th:href="logout" class="nav__link"><img src="../img/log-out.png"></a></li>
                    
                     
                </ul>
            </div>
            <div class="nav_shop">
                <a href="#shop"><img src="img/shopping-cart.png"></a>
            </div>
        </nav>
    </header>
    <script src="JS/header.js"></script>
	</div>
	
	<div class="hero">
        <div class="form-box">
           
            <h1 class="titulo">Login</h1>

            <form id="login" action="login" class="input-goup" method="post">
            	<input type="hidden" name="id"> 
                <input type="email"  name="email" class="input-field" placeholder="Email"  required>
                <input type="password" name="senha" class="input-field" placeholder="Senha" required>     
                <button type="submit" class="submit-btn">Log In</button>
            </form> 
            
        </div>
 			<div th:replace="fragments/mensagem"></div>  
        
    </div>
	<script type="text/javascript">
	/* MENU SHOW */
	const showMenu =(toggleId, navId)=>{
	    const toggle =document.getElementById(toggleId),
	    nav = document.getElementById(navId)

	    if(toggle && nav){
	        toggle.addEventListener('click', ()=>{
	            nav.classList.toggle('show')
	        })
	    }
	}
	showMenu('nav-toggle','nav-menu')

	/* REMOVE MENU */
	const navLink = document.querySelectorAll('.nav__list'),
	    navMenu = document.getElementById('nav-menu')

	function linkAction(){
	    navMenu.classList.remove('show')
	}
	navLink.forEach(n => n.addEventListener('click',linkAction))

	/* SROLL SELECTIONS ACTIVE LINK */
	const sections = document.querySelectorAll('section[id]')

	window.addEventListener('scroll', scrollActive)

	function scrollActive(){
	    const scrollY = window.pageYOffset

	    sections.forEach(current=>{
	        const sectionHeight = current.offsetHeight
	        const sectionTop = current.offsetTop - 50
	        sectionId = current.getAttribute('id')

	        if(scrollY > sectionTop && scrollY <= sectionTop + sectionHeight) {
	            document.querySelector('.nav__menu a[href*='+ sectionId +']').classList.add('active1')
	        }else{
	            document.querySelector('.nav__menu a[href*='+ sectionId +']').classList.remove('active1')
	        }
	    })
	}
	/*CHANGE COLOR HEADER */
	window.onscroll = ()=>{
	    const nav = document.getElementById('header')
	    if(this.scrollY >=200) nav.classList.add('scroll-header'); else nav.classList.remove('scroll-header')
	}
	</script>
</body>



</body>
</html>